<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcwilliams.theninjamethod">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        >

    </application>

</manifest>